<section class="content-wrap">
  <section id="log-trail-title-filter">
    <h2 id="log-trail-title">Log Trails</h2>
    <section id="log-trail-filter">
      <input id="log-trail-start" type="date">
      <input id="log-trail-end" type="date">
      <button class="button-set" id="load-log-trail" onclick="setTrail()">Set</button>
    </section>
  </section>
  <div id="table-trail-section" class="table-container">
    <table id="table-trail">
      <thead></thead>
      <tbody></tbody>
    </table>
  </div>
</section>
