body #title-content-header {
  display: block !important;
}
body .content-wrap #wrap-lembar-jawaban {
  padding: 1rem;
  height: 100%;
  display: grid;
  grid-template-rows: max-content 1fr;
}
body .content-wrap #wrap-lembar-jawaban #wrap-header-lembar-jawaban {
  background: #2200b8;
  padding: 0.5rem;
  border-radius: 8px 8px 0 0;
}
body .content-wrap #wrap-lembar-jawaban #wrap-header-lembar-jawaban h2 {
  color: white;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin-bottom: 2rem;
  background: white;
  border-radius: 0 0 8px 8px;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .sidebar {
  border-right: 1px solid #a3aed0;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .sidebar h2 {
  background: #EFEBFF;
  border-bottom: 1px solid #a3aed0;
  padding: 0.5rem;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .sidebar #lomba-container .kategori-header {
  background: #efebff;
  padding: 0.3rem;
  padding-left: 1rem;
  border-bottom: 1px solid #a3aed0;
  border-top: 1px solid #a3aed0;
  cursor: pointer;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .sidebar #lomba-container .lomba-header {
  font-size: var(--font-size-medium);
  padding: 0.5rem 1rem;
  padding-left: 2rem;
  cursor: pointer;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .sidebar #lomba-container .lomba-header:hover {
  background: #e1d9ff;
  color: #2200b8;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .sidebar #lomba-container .lomba-header:hover span,
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .sidebar #lomba-container .lomba-header:hover i {
  color: #2200b8;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .sidebar #lomba-container .lomba-header.active {
  background: #e1d9ff;
  color: #2200b8;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .sidebar #lomba-container .lomba-header.active span,
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .sidebar #lomba-container .lomba-header.active i {
  color: #2200b8;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .content-lembar-jawaban {
  display: grid;
  overflow: auto;
  position: relative;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .content-lembar-jawaban #detail-lembar-jawaban-peserta {
  display: grid;
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .content-lembar-jawaban #detail-lembar-jawaban-peserta thead th {
  border-right: 0 !important;
  border-left: 0 !important;
  background: transparent !important;
  border-bottom: 3px solid #a3aed0 !important;
  padding: 0.5rem !important;
  text-align: left;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .content-lembar-jawaban #detail-lembar-jawaban-peserta thead .head-regu, body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .content-lembar-jawaban #detail-lembar-jawaban-peserta thead .head-lomba {
  max-width: 80px;
  width: 80px;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .content-lembar-jawaban #detail-lembar-jawaban-peserta thead .head-pangkalan {
  max-width: 130px;
  width: 130px;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .content-lembar-jawaban #detail-lembar-jawaban-peserta thead .head-peserta {
  max-width: 150px;
  width: 150px;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .content-lembar-jawaban #detail-lembar-jawaban-peserta thead .head-act {
  max-width: 30px;
  width: 30px;
  text-align: center;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .content-lembar-jawaban #detail-lembar-jawaban-peserta tbody td {
  background: transparent;
  color: #232323 !important;
  border-bottom: 1px solid #a3aed0 !important;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .content-lembar-jawaban #detail-lembar-jawaban-peserta tbody .col-action {
  text-align: center;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .content-lembar-jawaban #detail-lembar-jawaban-peserta tbody tr:hover td {
  background: #f0f0f0 !important;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .content-lembar-jawaban #detail-lembar-jawaban-peserta .no-data-content {
  display: flex;
  height: 100%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .content-lembar-jawaban #detail-lembar-jawaban-peserta .no-data-content img {
  width: 32%;
  margin: 0 auto;
}
body .content-wrap #wrap-lembar-jawaban #wrap-body-lembar-jawaban .content-lembar-jawaban #detail-lembar-jawaban-peserta .no-data-content h3 {
  font-size: 25px;
}/*# sourceMappingURL=lembar_jawaban.css.map */