@font-face {
  font-family: "Poppins";
  src: url(../../assets/font/Poppins/Poppins-Regular.ttf);
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  margin: 0;
  padding: 0;
}
body ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body a {
  text-decoration: none;
}
body button {
  border-radius: 10px;
  cursor: pointer;
  border: unset;
  font-family: "Poppins", sans-serif;
}

#main-login {
  height: 100vh;
}
#main-login #login-field {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  height: 100%;
}
#main-login #login-field .wrap-img {
  background: #f7f7f7;
  display: grid;
}
#main-login #login-field .wrap-img img {
  margin: auto;
  max-width: 389px;
}
#main-login #login-field #wrap-content-login-form {
  display: grid;
}
#main-login #login-field #wrap-content-login-form #login-section {
  margin: auto;
  display: grid;
  gap: 0.5rem;
  padding: 1rem;
}
#main-login #login-field #wrap-content-login-form #login-section h2 {
  margin: 0;
  margin-bottom: 1rem;
}
#main-login #login-field #title-form {
  display: grid;
}
#main-login #login-field #title-form span {
  font-size: 2em;
  color: var(--main-clr-third);
  font-weight: bolder;
  margin-top: 0.5em;
}
#main-login #login-field #title-form h2,
#main-login #login-field #title-form h5 {
  font-size: 5em;
  margin: 0px;
  margin-bottom: -0.3em;
  color: var(--main-clr-wht-1);
  line-height: 1.5em;
}
#main-login #login-field #title-form h5 {
  font-size: 1.5em;
}
#main-login #login-field #login-section .form-input {
  display: grid;
  gap: 0.2em;
  border-radius: 8px;
  background: #f9fafb;
  padding: 0.5em;
  border: 1px solid #d1d5db;
  cursor: pointer !important;
  cursor: pointer !important;
}
#main-login #login-field #login-section .form-input label,
#main-login #login-field #login-section .form-input input {
  cursor: pointer !important;
  background: transparent !important;
  border: 0px !important;
  font-size: var(--font-size-normal);
  padding: 0px;
}
#main-login #login-field #login-section .form-input label:focus, #main-login #login-field #login-section .form-input label:focus-visible,
#main-login #login-field #login-section .form-input input:focus,
#main-login #login-field #login-section .form-input input:focus-visible {
  outline: none;
  outline-color: transparent !important;
}
#main-login #login-field #login-section .form-input label {
  font-size: var(--font-size-small);
}
#main-login #login-field #login-section #button-login-section {
  display: flex;
  gap: 1em;
}
#main-login #login-field #login-section #button-login-section #btn-login,
#main-login #login-field #login-section #button-login-section #btn-login-guest {
  border: unset;
  cursor: pointer;
  min-width: 400px;
  background: #2200b8;
  padding: 0.7rem;
  border-radius: 5px;
  color: var(--main-clr-wht-1);
  font-size: var(--font-size-medium);
  transition: 0.3s;
  text-align: center;
}
#main-login #login-img {
  grid-area: img;
  background: var(--main-clr-blk-1);
  height: -moz-max-content;
  height: max-content;
  margin: auto;
  height: 50%;
  z-index: 3;
  display: flex;
  border-left: 0.5em solid var(--main-clr-wht-1);
  position: relative;
}
#main-login #login-img::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background: var(--main-clr-primary);
  top: -3em;
  left: -3.5em;
  z-index: 2;
}
#main-login #login-img img {
  margin: auto;
  margin-bottom: 1em;
  width: 20em;
  padding: 0px 7em;
  left: 0em;
  position: relative;
}

.img-content-logo {
  display: grid;
  gap: 0.5rem;
  grid-template-rows: max-content max-content;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

.password-field {
  position: relative;
}
.password-field input {
  width: 30rem;
  height: 4em;
  padding: 1em;
  border: 0;
  border-radius: 10px;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  letter-spacing: 1px;
}
.password-field input::-moz-placeholder {
  color: #000000;
  font-weight: bold;
}
.password-field input::placeholder {
  color: #000000;
  font-weight: bold;
}
.password-field #toggler {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

@media (max-width: 768px) {
  body #main-login #login-field {
    grid-template-columns: 1fr;
    position: relative;
    display: grid;
    justify-content: center;
  }
  body #main-login #login-field img {
    width: 90% !important;
  }
  body #main-login #login-field .img-content-logo img {
    width: 57px !important;
  }
  body #main-login #login-field .img-content-logo .siqia-logo {
    width: 70px !important;
  }
  body #main-login #wrap-content-login-form {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  body #main-login #wrap-content-login-form #login-section {
    background: rgba(255, 255, 255, 0.6705882353);
    padding: 1rem;
    border-radius: 8px;
    width: 80%;
  }
  body #main-login #wrap-content-login-form #login-section h2 {
    font-size: 20px;
  }
  body #main-login #wrap-content-login-form #login-section #btn-login {
    min-width: unset !important;
    width: 100% !important;
  }
}/*# sourceMappingURL=login.css.map */