body{
  #title-content-header{
    display: block !important;
  }
  .content-wrap{
    padding: 0.5rem 1rem;
  }

  #modal-update-kategori-lomba{
    .modal-content{
      #wrap-add-kaegori-lomba-form{
        display: grid;
        grid-template-columns: 1fr max-content;
        gap: 0.5rem;

        h3{
          margin-bottom: 0.5rem;
          margin-top: 0.15rem;
        }

        button{
          font-size: var(--font-size-medium);
          background: #2200B8;
          color: white;
          padding: 0.8rem;
          border-radius: 8px;
        }

      }
      h3{
        margin: 0;
        border-top: 5px solid #e5e7eb;
        padding-top: 1rem;
      }
      #wrap-content-list-category{
        display: grid;
        gap: 0.5rem;
        .box-category-content{
          display: grid;
          grid-template-columns: 1fr max-content max-content;
          background: #f9fafb;
          gap: 0.3rem;
          padding: 0.5em;
          border: 1px solid #d1d5db;
          border-radius: 8px;

          input{
            background: transparent !important;
            border: 0 !important;
          }
          #update-kategori-lomba-btn{
            display: none;
                font-size: 17px;
          }
          button{
            background: transparent;
            color: #6d6d6d;
            &:hover{
              color: #433c50 !important;
            }
          }
        }
        .box-category-content.active{
          input{
            display: block !important;
          }
          label{
            display: none !important;
          }
          #update-kategori-lomba-btn{
            display: block !important;
          }
          #edit-kategori-lomba-btn{
            display: none !important;
          }
        }
      }
    }
  }
}
