<section class="content-wrap">
  <section class="zoomContent" id="group-lists-box">
    <div id="group-lists"></div>
    <div id="group-filter"></div>
  </section>
  <section class="zoomContent" id="menu-lists"></section>
  <section class="zoomContent" id="menu-lists-no-data">
    <span>There are no searched menu.</span>
  </section>
</section>

<!-- FUNCTION TO CHANGE PRIVILEGES ACT --ir -->
<section class="modal" id="modal-privileged-menu">
  <section class="modal-head">
    <button class="modal-close" onclick="closeModal()">Close</button>
  </section>
  <section class="modal-content">
    <section id="modal-privileged-menu-img"></section>
    <section id="modal-privileged-menu-title"></section>
    <section id="modal-privileged-menu-acts"></section>
  </section>
  <section class="modal-foot">
    <button onclick="changeProdPlan()" id="change-privileged-menu">Change Privileged Menu</button>
  </section>
</section>
