<!-- <section class="floating-section" id="slideshow-opt-floating">
  <span id="control-slideshow-title">Slideshow Settings</span>
  <section id="control-slideshow-lists">
    <div class="control-section" id="slideshow-control-opt">
      <button onclick="setSlideshowOpt(this, this.value)" value="carousel" class="slideshow-opt tooltip-inside" data-slideshow="carousel" id="carousel-slideshow-opt"><i class="fas fa-exchange-alt"></i> <span>Carousel</span> <span class="tooltip-button">Carousel Slideshow</span></button>
      <button onclick="setSlideshowOpt(this, this.value)" value="fade" class="slideshow-opt tooltip-inside" data-slideshow="fade" id="fade-slideshow-opt"><i class="	fas fa-expand-arrows-alt"></i> <span>Fade</span> <span class="tooltip-button">Fade Slideshow</span></button>
    </div>
    <div class="control-section" id="slideshow-control-section">
      <button onclick="setSlideshowPlayer(this, this.value)" value="play" class="slideshow-control tooltip-inside" data-player="play" id="play-slideshow-control"><i class="fas fa-play"></i> <span class="tooltip-button">Resume Slideshow</span></button>
      <button onclick="setSlideshowPlayer(this, this.value)" value="stop" class="slideshow-control tooltip-inside" data-player="stop" id="stop-slideshow-control"><i class="fas fa-stop"></i> <span class="tooltip-button">Stop Slideshow</span></button>
    </div>
    <div class="control-section" id="speed-control-section">
      <button onclick="setSpeedSlideShow(this)" class="speed-control tooltip-inside" data-speed="slow" id="slow-speed"><i class="fas fa-angle-right"></i> <span class="tooltip-button">Slow Speed</span></button>
      <button onclick="setSpeedSlideShow(this)" class="speed-control tooltip-inside" data-speed="normal" id="normal-speed"><i class="fas fa-angle-double-right"></i> <span class="tooltip-button">Normal Speed</span></button>
      <button onclick="setSpeedSlideShow(this)" class="speed-control tooltip-inside" data-speed="high" id="high-speed"><i class="fas fa-bolt"></i> <span class="tooltip-button">Fast Speed</span></button>
    </div>
    <div class="control-section" id="page-control-section">
      <button onclick="setPageSlideShow(this)" class="page-control tooltip-inside" data-page="-0%" id="dashboard-1"><i class="fas fa-tv"></i> 1 <span class="tooltip-button">Dashboard 1</span></button>
      <button onclick="setPageSlideShow(this)" class="page-control tooltip-inside" data-page="-95vw" id="dashboard-2"><i class="fas fa-tv"></i> 2 <span class="tooltip-button">Dashboard 2</span></button>
      <button onclick="setPageSlideShow(this)" class="page-control tooltip-inside" data-page="-190vw" id="dashboard-3"><i class="fas fa-tv"></i> 3 <span class="tooltip-button">Dashboard 3</span></button>
    </div>
  </section> -->

  <!-- ALL PROGRESS BAR SLIDESHOW --ir -->
  <!-- <section class="progress-bar-box-group">
    <section class="progress-bar-box progress-bar-slideshow" data-page="dashboard-1"><button class="progress-bar"></button></section>
    <section class="progress-bar-box progress-bar-slideshow" data-page="dashboard-2"><button class="progress-bar"></button></section>
    <section class="progress-bar-box progress-bar-slideshow" data-page="dashboard-3"><button class="progress-bar"></button></section>
  </section>
</section> -->
