<button onclick="sidebarMobileMenu()" id="nav-toggle-menu"><i class="bx bx-menu"></i></button>
<section class="wrap-title-navheader">
  <h2 style="display: none;" id="welcome-title">Welcome to Integra Rekap!</h2>
  <div style="display: none;" id="title-content-header"></div>
</section>
<div id="user-info-header"  class="user-info">
  <section id="header-toggle-buttons">
    <button onclick="goLogout()"class="header-toggle tooltip-inside" id="logout-button-btn" ><i style="font-size: 23px;" class='bx bx-log-in'></i> <span class="tooltip-button">Logout</span> </button>
  </section>
  <img class="user-info-img centerized-sidebar" id="header-user-info-img"  src="/assets/icons/user-male.svg" alt="">
  <span class="user-info-name expanded-sidebar" id="header-user-info-name"></span>

  <section class="label-header">
    <span>Tingkat Penggalang</span>
  </section>
</div>
<marquee style="display: none;" id="broadcast-section">TEST</marquee>
<div id="runtime-datetime" style="display: none;">
  <div id="runtime-date">
    <span>Loading..</span>
    <span>Loading..</span>
  </div>
  <span id="runtime-time">--:--:--</span>
</div>
