<section class="header-sidebar">
  <section style="
    display: flex;
    align-items: center;
">
    <img style="width: 34px;" src="../../assets/logo/integralogo.png" alt="">
    <h2 class="logo" style="
    /* background: aliceblue; */
    color: #0048b7;
">IntegraRekap</h2>
  </section>

  <button class="modal-close" onclick="sidebarMobileMenu()"><i class="bi bi-x-lg"></i></button>
</section>
<nav id="nav-main-menu"></nav>
<!-- <button onclick="goLogout()" id="logout-button" class="button-set button-sidebar"><i class="fas fa-sign-out-alt centerized-sidebar"></i><span class="expanded-sidebar"> Logout</span></button> -->
<!-- <button onclick="toggleSidebar(this, this.value)" id="toggle-sidebar" class="button-set button-sidebar" value="expand"><i class="fas fa-angle-double-right centerized-sidebar"></i><span class="expanded-sidebar"> Expand</span></button> -->

